@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav_bg:#F6F4F9;
  --projects_bg:#F9F9F9;
  --theme_blue:#3A5AFE;
  --theme_purple:#7B14F1;
  --theme_text_color:#273653;
  
}


body {
  background: #FFFFFF;
  font-family: 'IBM Plex Mono', monospace !important;
}
