@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav_bg:#F6F4F9;
  --projects_bg:#F9F9F9;
  --theme_blue:#3A5AFE;
  --theme_purple:#7B14F1;
  --theme_text_color:#273653;
  --section_br_radius:15px;
  --section_gap:60px;
}


body {
  background: #FFFFFF;
  font-family: 'IBM Plex Mono', monospace !important;
}

p{
  user-select: none;
}


.clip_path_hidden {
  clip-path: circle(20px at 110% -10%);
  
}

.clip_path_visible {
  clip-path: circle(1200px at 110% -10%);
}

.abc{
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
   opacity: 0.3;
    transform-style: preserve-3d;
}

.section_common_padding {@apply px-[16px] md:px-[40px] lg:px-[80px] xl:px-[140px] py-[10px] md:py-[24px] w-full}

.project_section_gradient {
  background-image: linear-gradient(180deg, rgba(243, 243, 243, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}